# Ignore everything in .config
.config/*

# But don't ignore these specific directories/files
!.config/bat/
!.config/darktable/
!.config/dunst/
!.config/fish/
!.config/hypr/
!.config/kitty/
!.config/nvim/
!.config/ranger/
!.config/waybar/
!.config/wofi/
!.config/zathura/
!.config/starship.toml
