[Desktop Entry]
Version=1.0
Type=Application
Name=Astrill
Exec="/usr/local/Astrill/astrill" /autostart
Icon=/usr/local/Astrill/astrillon.png
Terminal=false
X-MultipleArgs=false
StartupNotify=false
Categories=GNOME;GTK;Application;Network;
