* {
    border: none;
    border-radius: 0;
    font-family: Fira Code Nerd Font;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #d3c6aa;
}

#window {
    background-color: rgba(47, 56, 47, 0.5);
    margin: 5px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    color: #d3c6aa;
}

#workspaces {
    background-color: #2d353b;
    margin-right: 5px;
	margin-top:5px;
	margin-bottom:5px;
    margin-left: 10px;
    border-radius: 5px;
}

#workspaces button {
    padding: 5px 10px;
    color: #d3c6aa;
}

#workspaces button.active {
    color: #2d353b;
    background-color: #83c092;
    border-radius: 5px;
}

#workspaces button:hover {
    background-color: #7fbbb3;
    color: #2d353b;
    border-radius: 5px;
}

#custom-date, #clock, #battery, #pulseaudio, #network, #cpu, #memory {
    background-color: #2d353b;
    padding: 5px 10px;
    margin: 5px 0px;
}

#custom-date {
    color: #7fbbb3;
}

#custom-power {
    color: #2d353b;
    background-color: #e67e80;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px 10px;
}

#custom-reboot {
    color: #2d353b;
    background-color: #a7c080;
    border-radius: 5px;
    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px 10px;
}

#clock {
    color: #d699b6;
    border-radius: 0px 5px 5px 0px;
    margin-right: 8px;
}

#cpu {
    color: #83c092;
}

#memory {
    color: #d699b6;
}

#battery {
    color: #a7c080;
}

#battery.charging {
    color: #a7c080;
}

#battery.warning:not(.charging) {
    background-color: #e67e80;
    color: #2d353b;
    border-radius: 5px 5px 5px 5px;
}

#network {
    color: #e67e80;
    border-radius: 5px 0px 0px 5px;
}

#pulseaudio {
    color: #dbbc7f;
}
